require 'active_model_serializers'
<% if superclass != "ActiveModel::Serializer" %>
# inherit from ActiveModel::Serializer if you want to completely replace the existing serializer
<% end %>
class <%=serializer_name%> < <%=superclass%>
  #attributes :myattribute

  #def my_attribute
  #  object.items.count
  #end
end
